.kudos {
    margin-top: 50px;
    text-transform: uppercase;;
}
.kudos div {
    font-family: 'primary-header-family';
    font-weight: bold;
    color: #777;
}
.kudos a {
    display: block;
}
.kudos .icon {
    color: dimgrey;
}
.kudos .icon:hover {
     color: gold;
}
.kudos .icon.liked {
     color: lightgrey;
}

.kudos .status {
    width: 65px;
    text-align: right;
    display: inline-block;
}

.kudos .status.loading {
    background: url('/assets/images/loader.gif') -96px -112px no-repeat;
}