.kudos {
    margin-top: 50px;
    text-transform: uppercase;
    text-align: center;
}
.kudos div {
    font-family: 'primary-header-family';
    font-weight: bold;
    color: #777;
}
.kudos a {
    display: block;
}
.kudos .icon {
    color: dimgrey;
}
.kudos .icon:hover {
     color: gold;
}
.kudos .icon.liked {
     color: lightgrey;
}