main {
    padding: 30px 0;
    overflow: scroll;
    margin-top: 100px;
    min-height: 70vh;
}

/* Small only */
@media screen and (max-width: 39.9375em) {
    main {
        padding: 0;
        margin-top: 75px;
    }
}