footer {
    padding: 20px;
    background: black;
    color: white;
}
footer ul::after {
    clear: both;
}

footer ul li {
    float: left;
    list-style: none;
    padding: 10px;
}

footer ul li a {
    color: white;
    display: block;
}

footer ul li a:hover {
     color: gold;
     text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px $accent-color, 0 0 30px $accent-color, 0 0 40px $accent-color, 0 0 50px $accent-color, 0 0 75px $accent-color;
 }