footer {
    padding: 20px;
    background: #404244;
    color: white;
    position: sticky;
    bottom: 0;
    width: 100vw;
}
footer ul::after {
    clear: both;
}

footer ul li {
    float: left;
    list-style: none;
    padding: 10px;
}

footer ul li a {
    color: white;
    display: block;
}

footer ul li a:hover {
    color: black;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px gold, 0 0 30px gold, 0 0 40px gold, 0 0 50px gold, 0 0 75px gold;
}