.demo-list-container {
    padding-top: 100px;
}

.demo-item {
    padding: 10px;
    height: 400px;
    overflow: hidden;
    border: 1px transparent;
}

.demo-item.active {
    background: whitesmoke;
    border-bottom: transparent;
}

.demo-item a {
    color: #777;
}
.demo-item h2 {
    text-align: left;
    margin-top: 8px;
}

.demo-details {
    background: whitesmoke;
    padding: 10px;
    margin-bottom: 100px;
}