.demo-list-container {

    margin-top: 100px;
}
.demo-item {
    padding: 10px;
    overflow: hidden;
    border: 1px transparent;
}
.demo-item.active {
    border-bottom: transparent;
}
.demo-item a {
    color: #777;
}
.demo-item h2 {
    text-align: left;
    margin-top: 8px;
}
.demo-details {
    padding: 10px;
    margin-bottom: 100px;
}
