.quick-links {
    position: relative;
    background: #4F4F4F;
    height: 100vh;
    color: white;
    font-family: 'primary-header-family';
    text-align: left;
    padding-top: 40%;
    border-top: 5px solid gold;
}
.about-section {
    text-align: center;
    font-size: 16px;
    color: #000;
    font-weight: bold;
    letter-spacing: 3px;
    max-width: 550px;
    margin: 0 auto;
    margin-top: 200px;
    margin-bottom: 50px;
}

.about-section h1 {
    margin-top: 40px;
}

.about-section p {
    font-family: 'primary-header-family';
    color: #777;
}

main > .row {
    max-width: initial;
}

main > .row .columns {
    padding: 0;
}

h4 {
    text-align: left;
}

hr {
    width: 80%;
    margin-left: 0;
}

.about-section {
    opacity: 0;
    transform: scale(0.5);
    animation: scale-up 1s ease forwards;
}

@keyframes scale-up {
    to {
        opacity: 1;
        transform: none;
    }
}