.section-work a,
.section-work a:visited,
.section-work a:active {
    color: #777;
}

.section-work hr {
    width: 30%;
}

.section-work {
    text-align: center;
}

/* Medium and up */
@media screen and (min-width: 40em) {
    .section-work {
        margin-top: 70px;
    }
}