header {
	background: #404244;
	padding: 30px;
	color: #fff;
	border-bottom: 5px solid gold;
}

header li::after {
	content: '|';
	text-align: center;
	vertical-align: middle;
	display: block;
	margin-top: 8px;
}

header li:last-child::after {
	content: none;
}
header a {
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	font-family: 'primary-header-family';
}

header a:hover {
	color: gold;
}
header a.selected {
	color: gold;
}