.card {
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
    overflow: hidden;
    max-width: 400px;
    border-radius: 4px;
    background-color: #fff;
    height: 500px;
    margin: 0 auto;
}

.card-header {
    display: flex;
    align-items: center;
    padding: 16px;
}

.card-icon {
    width: 40px;
    height: 40px;
    display: flex;
    position: relative;
    overflow: hidden;
    font-size: 1.25rem;
    flex-shrink: 0;
    align-items: center;
    user-select: none;
    border-radius: 50%;
    justify-content: center;
    color: #fafafa;
}

.header-left {
    flex: 0 0 auto;
    margin-right: 16px;
}

.header-middle {
    flex: 1 1 auto;
}

.header-right {
    flex: 0 0 auto;
    align-self: flex-start;
}

.header-right .icon {
    margin: 10px;
    font-size: 20px;
}
.card-header .icon.active,
.card-header:hover .icon {
    margin: 10px;
    font-size: 30px;
    color: gold;
    transition: color .5s, font-size .5s;
    cursor: pointer;
}

.menu-icon {
    flex: 0 0 auto;
    width: 48px;
    color: rgba(0, 0, 0, 0.54);
    height: 48px;
    padding: 0;
    overflow: visible;
    font-size: 1.5rem;
    text-align: center;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 50%;
    cursor: pointer;
    margin: 0;
    border: 0;
    display: inline-flex;
    outline: none;
    position: relative;
    user-select: none;
    align-items: center;
    vertical-align: middle;
    justify-content: center;
    text-decoration: none;
    background-color: transparent;
}

.menu-icon:hover {
    background-color: rgba(0, 0, 0, 0.08);
}
.menu-icon-inner {
    width: 100%;
    display: flex;
    align-items: inherit;
    justify-content: inherit;
    font-size: 1.5rem;
    text-align: center;
    color: rgba(0, 0, 0, 0.54);
}

.menu-icon-svg {
    fill: currentColor;
    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 24px;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    user-select: none;
    flex-shrink: 0;
}

.card-image {
    margin: 0 auto;
    display: block;
    transition: opacity 1s;
    opacity: 1;
    right: -72px;
    position: absolute;
}

.card-image:hover {
    opacity: 0.5;
    cursor: hand;
}

.card-desc {
    padding: 16px;
    height: 130px;
    overflow: hidden;
}

.title {
    color: rgba(0, 0, 0, 0.87);
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1em;
    display: block;
}

.subtitle {
    color: rgba(0, 0, 0, 0.54);
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1em;
}

.card-footer {
    display: flex;
}

.card-footer > .footer-left {
    flex: 0 0 auto;
    margin-right: 16px;
}

.card-footer > .footer-middle {
    flex: 1 1 auto;
}

.card-footer > .footer-right {
    flex: 0 0 auto;
    align-self: flex-start;
}

.card-footer > .footer-left a {
    width: 48px;
    color: #aba9a9;
    height: 48px;
    padding: 0;
    overflow: visible;
    font-size: 1.5rem;
    text-align: center;
    transition: background-color 1s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    cursor: pointer;
    margin: 0;
    border: 0;
    display: inline-flex;
    outline: none;
    position: relative;
    user-select: none;
    align-items: center;
    vertical-align: middle;
    justify-content: center;
    text-decoration: none;
    background-color: transparent;
    text-shadow: none;
}

.card-footer > .footer-left a:hover {
    background-color: rgba(0, 0, 0, 0.08);
}

.sticky-link span {
    line-height: 3em;
    margin-right: 20px;
    padding: 10px;
}

.card-footer .menu li{
    margin-left: 5px;
}

.card-desc {
    height: 382px;
    background: whitesmoke;
    opacity: .9;
}

.card-desc .main-content {
    height: 260px;
    position: relative;
    padding: 0 14px;
    font-size: 14px;
}

.card-desc .support-content {

}

.card-desc ul {
    margin-left: 0;
    list-style-type: none;
    font-size: 12px;
    color: #333333;
}

.card-desc h6 {
    font-size: .65em;
    text-align: left;
    text-decoration: underline;
    color: #807e7e;
}